# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Шаг 1. Откройте файл с данными и изучите общую информацию

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')
display(data)
data.info()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [2]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [3]:
len(data[data['days_employed'].isna()])

2174

In [4]:
len(data[data['total_income'].isna()])

2174

# **Вывод**

Из 12 столбцов датафрейма два содержат пропуски: общий трудовой стаж в днях (2174) и ежемесячный доход (2174). Эти же столбцы имеют вещественный тип данных. Некоторые их них являются отрицательными числами, что свидетельствует о техногенной природе ошибки. 2174 строки - существенный объем данных. Чтобы не исказить результат, их можно заменить медианными значениями для каждого столбца.

## Шаг 2. Предобработка данных

### Обработка пропусков

Переведем из датафрейма все отрицательные числа в натуральные, чтобы они не повлияли на медиану, а затем заменим на соответствующее медианное значение все пропуски в столбцах.

In [5]:
data['days_employed'] = abs(data['days_employed'])
data['total_income'] = abs(data['total_income'])

In [6]:
data['days_employed'] = data['days_employed'].fillna(data.groupby('dob_years')['days_employed'].transform('median'))
len(data[data['days_employed'].isna()])

0

In [7]:
data['total_income'] = data['total_income'].fillna(data.groupby('income_type')['total_income'].transform('median'))
len(data[data['total_income'].isna()])

0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Вывод**

В датафрейме не осталось пропущенных значений.

### Замена типа данных

In [9]:
data['days_employed'] = data['days_employed'].astype('int')
data['total_income'] = data['total_income'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

**Вывод**

В Датафрейме теперь все числовые значения имеют вид целочисленных.

### Обработка дубликатов

In [10]:
data.duplicated().sum()

54

In [11]:
duplicated_data = data[data.duplicated()]
display(duplicated_data.head(54))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
2849,0,1864,41,среднее,1,женат / замужем,0,F,сотрудник,0,142594,покупка жилья для семьи
4182,1,1615,34,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,142594,свадьба
4851,0,349414,60,среднее,1,гражданский брак,1,F,пенсионер,0,118514,свадьба
5557,0,331245,58,среднее,1,гражданский брак,1,F,пенсионер,0,118514,сыграть свадьбу
7808,0,333953,57,среднее,1,гражданский брак,1,F,пенсионер,0,118514,на проведение свадьбы
8583,0,331245,58,высшее,0,Не женат / не замужем,4,F,пенсионер,0,118514,дополнительное образование
9238,2,1615,34,среднее,1,женат / замужем,0,F,сотрудник,0,142594,покупка жилья для сдачи
9528,0,363827,66,среднее,1,вдовец / вдова,2,F,пенсионер,0,118514,операции со своей недвижимостью
9627,0,6850,56,среднее,1,женат / замужем,0,F,пенсионер,0,118514,операции со своей недвижимостью
10462,0,354981,62,среднее,1,женат / замужем,0,F,пенсионер,0,118514,покупка коммерческой недвижимости
10697,0,1728,40,среднее,1,гражданский брак,1,F,компаньон,0,172357,сыграть свадьбу
10864,0,354981,62,среднее,1,женат / замужем,0,F,пенсионер,0,118514,ремонт жилью
10994,0,354981,62,среднее,1,женат / замужем,0,F,пенсионер,0,118514,ремонт жилью
11791,0,2203,47,среднее,1,женат / замужем,0,F,сотрудник,0,142594,строительство недвижимости
12373,0,331245,58,среднее,1,женат / замужем,0,M,сотрудник,0,142594,покупка недвижимости
12375,1,1816,37,среднее,1,женат / замужем,0,F,сотрудник,0,142594,покупка недвижимости
12736,0,344372,59,среднее,1,женат / замужем,0,F,пенсионер,0,118514,заняться образованием
13025,1,2084,44,среднее,1,женат / замужем,0,F,сотрудник,0,142594,сделка с подержанным автомобилем
13639,0,355781,64,среднее,1,женат / замужем,0,F,пенсионер,0,118514,автомобиль
13773,0,1613,35,среднее,1,гражданский брак,1,F,сотрудник,0,142594,сыграть свадьбу
13878,1,1308,31,среднее,1,женат / замужем,0,F,компаньон,0,172357,покупка жилья
13942,0,2084,44,среднее,1,женат / замужем,0,F,сотрудник,0,142594,приобретение автомобиля
14432,2,1799,36,высшее,0,женат / замужем,0,F,госслужащий,0,150447,получение образования
14832,0,2626,50,среднее,1,Не женат / не замужем,4,F,сотрудник,0,142594,недвижимость
15091,0,331245,58,среднее,1,гражданский брак,1,M,сотрудник,0,142594,на проведение свадьбы
15188,0,349414,60,среднее,1,женат / замужем,0,M,сотрудник,0,142594,покупка недвижимости
15273,0,333953,57,среднее,1,гражданский брак,1,F,пенсионер,0,118514,свадьба
16176,0,2203,47,среднее,1,женат / замужем,0,F,сотрудник,0,142594,ремонт жилью
16378,0,2100,46,среднее,1,женат / замужем,0,F,сотрудник,0,142594,высшее образование
16902,2,1891,39,среднее,1,гражданский брак,1,F,сотрудник,0,142594,сыграть свадьбу
16904,1,1446,32,высшее,0,женат / замужем,0,F,сотрудник,0,142594,на покупку подержанного автомобиля
17379,0,4026,54,высшее,0,женат / замужем,0,M,компаньон,0,172357,операции с коммерческой недвижимостью
17755,1,1869,43,среднее,1,женат / замужем,0,M,сотрудник,0,142594,заняться образованием
17774,1,1728,40,среднее,1,гражданский брак,1,F,компаньон,0,172357,строительство жилой недвижимости
18328,0,1315,29,высшее,0,женат / замужем,0,M,сотрудник,0,142594,покупка жилой недвижимости
18349,1,1420,30,высшее,0,женат / замужем,0,F,госслужащий,0,150447,покупка жилья для семьи
18428,0,355781,64,среднее,1,женат / замужем,0,F,пенсионер,0,118514,жилье
18521,0,6850,56,среднее,1,гражданский брак,1,F,сотрудник,0,142594,сыграть свадьбу
18563,0,4026,54,среднее,1,женат / замужем,0,F,сотрудник,0,142594,операции со своей недвижимостью
18755,0,331245,58,среднее,1,женат / замужем,0,F,пенсионер,0,118514,заняться образованием
19041,0,6850,56,среднее,1,гражданский брак,1,F,сотрудник,0,142594,на проведение свадьбы
19184,0,2100,46,среднее,1,женат / замужем,0,F,сотрудник,0,142594,свой автомобиль
19321,0,690,23,среднее,1,Не женат / не замужем,4,F,сотрудник,0,142594,сделка с подержанным автомобилем
19387,0,1817,38,высшее,0,гражданский брак,1,F,компаньон,0,172357,на проведение свадьбы
19688,0,343984,61,среднее,1,женат / замужем,0,F,пенсионер,0,118514,операции с недвижимостью
19832,0,2429,48,среднее,1,женат / замужем,0,F,сотрудник,0,142594,ремонт жилью
19946,0,333953,57,среднее,1,женат / замужем,0,F,сотрудник,0,142594,сделка с подержанным автомобилем
20116,0,333953,57,среднее,1,гражданский брак,1,M,пенсионер,0,118514,свадьба
20165,0,2253,42,среднее,1,женат / замужем,0,F,сотрудник,0,142594,покупка жилья для семьи
20702,0,355781,64,среднее,1,женат / замужем,0,F,пенсионер,0,118514,дополнительное образование
21032,0,349414,60,среднее,1,женат / замужем,0,F,пенсионер,0,118514,заняться образованием
21132,0,2203,47,среднее,1,женат / замужем,0,F,сотрудник,0,142594,ремонт жилью
21281,1,1420,30,высшее,0,женат / замужем,0,F,сотрудник,0,142594,покупка коммерческой недвижимости
21415,0,4026,54,среднее,1,женат / замужем,0,F,пенсионер,0,118514,операции с жильем

В столбце education_id встречаются одинаковые по смыслу значения, но записанные в разном регистре. Приведем их к нижнему регистру. Так как в датафреме не все значения строчные, то сделаем это циклом, который избежит ошибки атрибута.

In [12]:
for col in data.columns:
    try:
        data[col] = data[col].str.lower()
    except AttributeError:
        pass

In [13]:
data.duplicated().sum()

71

Удяляем явные дубликаты, так как 71 - число, не повлияющее на результаты исследования.

In [14]:
data = data.drop_duplicates().reset_index()
print('Количество  дубликатов:', data.duplicated().sum())

Количество  дубликатов: 0

**Вывод**

Обнаруженное количество дубликатов удалено методом сброса старых индексов.

### Лемматизация

Сначала выведем все уникальные значения столбца с целями кредита.

In [15]:
purposes = data['purpose'].unique()
print(purposes)

['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

Цели отчетливо делятся на 4 типа: операции с недвижимостью, приобретение автомобиля, получение образования и организация свадьбы. Создадим функцию, которая поделит все заявки на данные 4 типа, основываясь на лемме в значении столбца с целью получения кредита. Полученные категории сохраним в качестве нового столбца справа, который формируется методом apply() и применяет функцию к значениям столбца 'purpose'.

In [16]:
from pymystem3 import Mystem
m = Mystem()
def create_category_purpose(row):
    lem_purpose = m.lemmatize(row['purpose'])
    if 'автомобиль' in lem_purpose:
        return 'автомобиль'
    if ('жилье' in lem_purpose) or ('недвижимость' in lem_purpose ):
        return 'недвижимость'
    if 'образование' in lem_purpose:
        return 'образование'
    if 'свадьба' in lem_purpose:
        return 'свадьба'

data['purpose_category'] = data.apply(create_category_purpose, axis=1)

In [17]:
print(data.head(15))

    index  children  days_employed  dob_years            education  \
0       0         1           8437         42               высшее
1       1         1           4024         36              среднее
2       2         0           5623         33              среднее
3       3         3           4124         32              среднее
4       4         0         340266         53              среднее
5       5         0            926         27               высшее
6       6         0           2879         43               высшее
7       7         0            152         50              среднее
8       8         2           6929         35               высшее
9       9         0           2188         41              среднее
10     10         2           4171         36               высшее
11     11         0            792         40              среднее
12     12         0         357103         65              среднее
13     13         0           1846         54  неоконченное высшее
14     14         0           1844         56               высшее

    education_id     family_status  family_status_id gender income_type  debt  \
0              0   женат / замужем                 0      f   сотрудник     0
1              1   женат / замужем                 0      f   сотрудник     0
2              1   женат / замужем                 0      m   сотрудник     0
3              1   женат / замужем                 0      m   сотрудник     0
4              1  гражданский брак                 1      f   пенсионер     0
5              0  гражданский брак                 1      m   компаньон     0
6              0   женат / замужем                 0      f   компаньон     0
7              1   женат / замужем                 0      m   сотрудник     0
8              0  гражданский брак                 1      f   сотрудник     0
9              1   женат / замужем                 0      m   сотрудник     0
10             0   женат / замужем                 0      m   компаньон     0
11             1   женат / замужем                 0      f   сотрудник     0
12             1  гражданский брак                 1      m   пенсионер     0
13             2   женат / замужем                 0      f   сотрудник     0
14             0  гражданский брак                 1      f   компаньон     1

    total_income                            purpose purpose_category
0         253875                      покупка жилья     недвижимость
1         112080            приобретение автомобиля       автомобиль
2         145885                      покупка жилья     недвижимость
3         267628         дополнительное образование      образование
4         158616                    сыграть свадьбу          свадьба
5         255763                      покупка жилья     недвижимость
6         240525                  операции с жильем     недвижимость
7         135823                        образование      образование
8          95856              на проведение свадьбы          свадьба
9         144425            покупка жилья для семьи     недвижимость
10        113943               покупка недвижимости     недвижимость
11         77069  покупка коммерческой недвижимости     недвижимость
12        118514                    сыграть свадьбу          свадьба
13        130458            приобретение автомобиля       автомобиль
14        165127         покупка жилой недвижимости     недвижимость

**Вывод**

Лемматизация помогла категоризовать получателей кредита по целям, значения которых выражены в строчном формате.

### Категоризация данных

Разобьем данные на несколько категорий в зависимости от целей исследования:
 - по количеству детей (бездетные, 1 ребенок, больше 1 ребенка)

In [18]:
def create_child_category(row):
    if row == 0:
        return 'бездетные'
    if row == 1:
        return '1 ребенок'
    if row > 1:
        return 'больше 1 ребенка'
data['child_category'] = data['children'].apply(create_child_category)
print(data.head(15))

    index  children  days_employed  dob_years            education  \
0       0         1           8437         42               высшее
1       1         1           4024         36              среднее
2       2         0           5623         33              среднее
3       3         3           4124         32              среднее
4       4         0         340266         53              среднее
5       5         0            926         27               высшее
6       6         0           2879         43               высшее
7       7         0            152         50              среднее
8       8         2           6929         35               высшее
9       9         0           2188         41              среднее
10     10         2           4171         36               высшее
11     11         0            792         40              среднее
12     12         0         357103         65              среднее
13     13         0           1846         54  неоконченное высшее
14     14         0           1844         56               высшее

    education_id     family_status  family_status_id gender income_type  debt  \
0              0   женат / замужем                 0      f   сотрудник     0
1              1   женат / замужем                 0      f   сотрудник     0
2              1   женат / замужем                 0      m   сотрудник     0
3              1   женат / замужем                 0      m   сотрудник     0
4              1  гражданский брак                 1      f   пенсионер     0
5              0  гражданский брак                 1      m   компаньон     0
6              0   женат / замужем                 0      f   компаньон     0
7              1   женат / замужем                 0      m   сотрудник     0
8              0  гражданский брак                 1      f   сотрудник     0
9              1   женат / замужем                 0      m   сотрудник     0
10             0   женат / замужем                 0      m   компаньон     0
11             1   женат / замужем                 0      f   сотрудник     0
12             1  гражданский брак                 1      m   пенсионер     0
13             2   женат / замужем                 0      f   сотрудник     0
14             0  гражданский брак                 1      f   компаньон     1

    total_income                            purpose purpose_category  \
0         253875                      покупка жилья     недвижимость
1         112080            приобретение автомобиля       автомобиль
2         145885                      покупка жилья     недвижимость
3         267628         дополнительное образование      образование
4         158616                    сыграть свадьбу          свадьба
5         255763                      покупка жилья     недвижимость
6         240525                  операции с жильем     недвижимость
7         135823                        образование      образование
8          95856              на проведение свадьбы          свадьба
9         144425            покупка жилья для семьи     недвижимость
10        113943               покупка недвижимости     недвижимость
11         77069  покупка коммерческой недвижимости     недвижимость
12        118514                    сыграть свадьбу          свадьба
13        130458            приобретение автомобиля       автомобиль
14        165127         покупка жилой недвижимости     недвижимость

      child_category
0          1 ребенок
1          1 ребенок
2          бездетные
3   больше 1 ребенка
4          бездетные
5          бездетные
6          бездетные
7          бездетные
8   больше 1 ребенка
9          бездетные
10  больше 1 ребенка
11         бездетные
12         бездетные
13         бездетные
14         бездетные

**Вывод**

Чтобы выявлять закономерности, необходимо классифицировать заемщиков по разным типам в зависимости от целей исследования: по критерию наличия детей, по семейному статусу и уровню дохода.

## Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок

Разделив заявителей на 3 категории по атрибуту children, сгруппируем отдельную таблицу, а затем построим сводную таблицу, отображающую количество выплаченных вовремя и просроченных кредитов для каждой из категорий:

In [19]:
children_debt = data.loc[:, ['children', 'debt','child_category']]
display(children_debt.head(15))

    children  debt    child_category
0          1     0         1 ребенок
1          1     0         1 ребенок
2          0     0         бездетные
3          3     0  больше 1 ребенка
4          0     0         бездетные
5          0     0         бездетные
6          0     0         бездетные
7          0     0         бездетные
8          2     0  больше 1 ребенка
9          0     0         бездетные
10         2     0  больше 1 ребенка
11         0     0         бездетные
12         0     0         бездетные
13         0     0         бездетные
14         0     1         бездетные

In [20]:
pivot_children_debt = children_debt.pivot_table(index='child_category', columns='debt', values='children', aggfunc='count')
display(pivot_children_debt.head(15))

debt                  0     1
child_category
1 ребенок          4364   444
бездетные         13028  1063
больше 1 ребенка   2275   233

для наглядности необходимо добавить к данным столбец с процентным соотношением количества просрочек к общему количеству заемов:

In [21]:
pivot_children_debt['percent'] = (pivot_children_debt[1]/(pivot_children_debt[1] + pivot_children_debt[0])) * 100
display(pivot_children_debt)

debt                  0     1   percent
child_category
1 ребенок          4364   444  9.234609
бездетные         13028  1063  7.543822
больше 1 ребенка   2275   233  9.290271

**Вывод**

Зависимость между наличием детей и выплатой кредита в срок присутствует.

Создадим сводную таблицу, демонстрирующую количество выплаченных в срок кредитов и просроченных по атрибуту семейного положения:

In [22]:
pivot_relationship_debt = data.pivot_table(index='family_status', columns='debt', values='gender', aggfunc='count')
display(pivot_relationship_debt)

debt                       0    1
family_status
в разводе               1110   85
вдовец / вдова           896   63
гражданский брак        3763  388
женат / замужем        11408  931
не женат / не замужем   2536  274

In [23]:
relationship_debt = data.loc[:, ['family_status', 'debt','relationship_stutus']]
display(relationship_debt.head(15))

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

       family_status  debt  relationship_stutus
0    женат / замужем     0                  NaN
1    женат / замужем     0                  NaN
2    женат / замужем     0                  NaN
3    женат / замужем     0                  NaN
4   гражданский брак     0                  NaN
5   гражданский брак     0                  NaN
6    женат / замужем     0                  NaN
7    женат / замужем     0                  NaN
8   гражданский брак     0                  NaN
9    женат / замужем     0                  NaN
10   женат / замужем     0                  NaN
11   женат / замужем     0                  NaN
12  гражданский брак     0                  NaN
13   женат / замужем     0                  NaN
14  гражданский брак     1                  NaN

In [24]:
pivot_relationship_debt['percent'] = (pivot_relationship_debt[1]/(pivot_relationship_debt[1] + pivot_relationship_debt[0])) * 100
display(pivot_relationship_debt)

debt                       0    1   percent
family_status
в разводе               1110   85  7.112971
вдовец / вдова           896   63  6.569343
гражданский брак        3763  388  9.347145
женат / замужем        11408  931  7.545182
не женат / не замужем   2536  274  9.750890

**Вывод**

Заемщики, не состоящие в узаконенных отношениях, имеют самый высокий процент просрочек по кредиту - свыше 9 %. Самыми ответственными являются овдовевшие граждане, среди которых "штрафников" на целый процент меньше, чем среди женатых!

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

По доходу заемщики будут делиться на 3 категории относительно общей медианы столбца: 
- низкий (ниже медианного диапазона);
- средний (внутри медианного диапазона и выше медианного диапазона, то есть в промежутке  от 100000 до 180000);
- высокий (выше медианного диапазона)
Для начала определим медиану столбца доходов:

In [25]:
data['total_income'].median()

142594.0

In [26]:
def create_income_status_category(row):
    if row < 100000:
        return 'низкий'
    if row > 180000:
        return 'высокий'
    else:
        return 'средний'
data['income_status'] = data['total_income'].apply(create_income_status_category)
print(data.head(50))

    index  children  days_employed  dob_years            education  \
0       0         1           8437         42               высшее
1       1         1           4024         36              среднее
2       2         0           5623         33              среднее
3       3         3           4124         32              среднее
4       4         0         340266         53              среднее
5       5         0            926         27               высшее
6       6         0           2879         43               высшее
7       7         0            152         50              среднее
8       8         2           6929         35               высшее
9       9         0           2188         41              среднее
10     10         2           4171         36               высшее
11     11         0            792         40              среднее
12     12         0         357103         65              среднее
13     13         0           1846         54  неоконченное высшее
14     14         0           1844         56               высшее
15     15         1            972         26              среднее
16     16         0           1719         35              среднее
17     17         0           2369         33               высшее
18     18         0         400281         53              среднее
19     19         0          10038         48              среднее
20     20         1           1311         36              среднее
21     21         1            253         33              среднее
22     22         1           1766         24              среднее
23     23         0            272         21               высшее
24     24         1         338551         57              среднее
25     25         0         363548         67              среднее
26     26         0           1864         41              среднее
27     27         0            529         28               высшее
28     28         1            717         26               высшее
29     29         0         358482         63              среднее
30     30         1         335581         62              среднее
31     31         0           1682         47            начальное
32     32         0           4649         34              среднее
33     33         0           1548         48              среднее
34     34         0           4488         35              среднее
35     35         0         394021         68              среднее
36     36         0            176         33              среднее
37     37         0           6448         43               высшее
38     38         0            597         25               высшее
39     39         0            650         31               высшее
40     40         0           1030         30              среднее
41     41         0           2626         50              среднее
42     42         0           1257         20  неоконченное высшее
43     43         0           4375         43  неоконченное высшее
44     44         1           1362         26              среднее
45     45         1           1039         49              среднее
46     46         2           2262         37              среднее
47     47         1           2689         33               высшее
48     48         0           3341         45              среднее
49     49         0           1181         54              среднее

    education_id          family_status  family_status_id gender  income_type  \
0              0        женат / замужем                 0      f    сотрудник
1              1        женат / замужем                 0      f    сотрудник
2              1        женат / замужем                 0      m    сотрудник
3              1        женат / замужем                 0      m    сотрудник
4              1       гражданский брак                 1      f    пенсионер
5              0       гражданский брак                 1      m    компаньон
6              0        женат / замужем                 0      f    компаньон
7              1        женат / замужем                 0      m    сотрудник
8              0       гражданский брак                 1      f    сотрудник
9              1        женат / замужем                 0      m    сотрудник
10             0        женат / замужем                 0      m    компаньон
11             1        женат / замужем                 0      f    сотрудник
12             1       гражданский брак                 1      m    пенсионер
13             2        женат / замужем                 0      f    сотрудник
14             0       гражданский брак                 1      f    компаньон
15             1        женат / замужем                 0      f    сотрудник
16             1        женат / замужем                 0      f    сотрудник
17             0       гражданский брак                 1      m    сотрудник
18             1         вдовец / вдова                 2      f    пенсионер
19             1              в разводе                 3      f    сотрудник
20             1        женат / замужем                 0      m    сотрудник
21             1       гражданский брак                 1      f    сотрудник
22             1       гражданский брак                 1      f    сотрудник
23             0       гражданский брак                 1      m    сотрудник
24             1  не женат / не замужем                 4      f    пенсионер
25             1        женат / замужем                 0      m    пенсионер
26             1        женат / замужем                 0      m  госслужащий
27             0        женат / замужем                 0      m    сотрудник
28             0        женат / замужем                 0      f    сотрудник
29             1  не женат / не замужем                 4      f    пенсионер
30             1        женат / замужем                 0      f    пенсионер
31             3        женат / замужем                 0      f    сотрудник
32             1       гражданский брак                 1      f    сотрудник
33             1        женат / замужем                 0      f    компаньон
34             1        женат / замужем                 0      f    сотрудник
35             1       гражданский брак                 1      m    пенсионер
36             1  не женат / не замужем                 4      m    сотрудник
37             0       гражданский брак                 1      f    компаньон
38             0  не женат / не замужем                 4      m    сотрудник
39             0       гражданский брак                 1      f    компаньон
40             1  не женат / не замужем                 4      m    компаньон
41             1        женат / замужем                 0      f  госслужащий
42             2  не женат / не замужем                 4      f    сотрудник
43             2              в разводе                 3      f    компаньон
44             1        женат / замужем                 0      f    сотрудник
45             1  не женат / не замужем                 4      f    сотрудник
46             1        женат / замужем                 0      f    компаньон
47             0       гражданский брак                 1      m  госслужащий
48             1        женат / замужем                 0      f    сотрудник
49             1        женат / замужем                 0      f    сотрудник

    debt  total_income                                 purpose  \
0      0        253875                           покупка жилья
1      0        112080                 приобретение автомобиля
2      0        145885                           покупка жилья
3      0        267628              дополнительное образование
4      0        158616                         сыграть свадьбу
5      0        255763                           покупка жилья
6      0        240525                       операции с жильем
7      0        135823                             образование
8      0         95856                   на проведение свадьбы
9      0        144425                 покупка жилья для семьи
10     0        113943                    покупка недвижимости
11     0         77069       покупка коммерческой недвижимости
12     0        118514                         сыграть свадьбу
13     0        130458                 приобретение автомобиля
14     1        165127              покупка жилой недвижимости
15     0        116820  строительство собственной недвижимости
16     0        289202                            недвижимость
17     0         90410              строительство недвижимости
18     0         56823      на покупку подержанного автомобиля
19     0        242831            на покупку своего автомобиля
20     0        209552                            недвижимость
21     0        131812                 приобретение автомобиля
22     0        149681      на покупку подержанного автомобиля
23     0        128265                         сыграть свадьбу
24     0        290547   операции с коммерческой недвижимостью
25     0         55112                    покупка недвижимости
26     0        150447                             образование
27     0        308848  строительство собственной недвижимости
28     0        187863  строительство собственной недвижимости
29     0        118514        строительство жилой недвижимости
30     0        171456   операции с коммерческой недвижимостью
31     0        275485                                   жилье
32     1        139057                   на проведение свадьбы
33     0        157245                           покупка жилья
34     0        104660         операции со своей недвижимостью
35     0         77805                   на проведение свадьбы
36     0        138830                              автомобили
37     0        154128                 приобретение автомобиля
38     1        192247                             образование
39     0        754240                   заняться образованием
40     0        142865                    покупка недвижимости
41     0        150447        сделка с подержанным автомобилем
42     0         82065                   получение образования
43     0        272957                 приобретение автомобиля
44     0        100780            на покупку своего автомобиля
45     0        106385                   заняться образованием
46     0        182682        сделка с подержанным автомобилем
47     0        356277                   на проведение свадьбы
48     0        162065  строительство собственной недвижимости
49     0         44591                              автомобиль

   purpose_category    child_category income_status
0      недвижимость         1 ребенок       высокий
1        автомобиль         1 ребенок       средний
2      недвижимость         бездетные       средний
3       образование  больше 1 ребенка       высокий
4           свадьба         бездетные       средний
5      недвижимость         бездетные       высокий
6      недвижимость         бездетные       высокий
7       образование         бездетные       средний
8           свадьба  больше 1 ребенка        низкий
9      недвижимость         бездетные       средний
10     недвижимость  больше 1 ребенка       средний
11     недвижимость         бездетные        низкий
12          свадьба         бездетные       средний
13       автомобиль         бездетные       средний
14     недвижимость         бездетные       средний
15     недвижимость         1 ребенок       средний
16     недвижимость         бездетные       высокий
17     недвижимость         бездетные        низкий
18       автомобиль         бездетные        низкий
19       автомобиль         бездетные       высокий
20     недвижимость         1 ребенок       высокий
21       автомобиль         1 ребенок       средний
22       автомобиль         1 ребенок       средний
23          свадьба         бездетные       средний
24     недвижимость         1 ребенок       высокий
25     недвижимость         бездетные        низкий
26      образование         бездетные       средний
27     недвижимость         бездетные       высокий
28     недвижимость         1 ребенок       высокий
29     недвижимость         бездетные       средний
30     недвижимость         1 ребенок       средний
31     недвижимость         бездетные       высокий
32          свадьба         бездетные       средний
33     недвижимость         бездетные       средний
34     недвижимость         бездетные       средний
35          свадьба         бездетные        низкий
36       автомобиль         бездетные       средний
37       автомобиль         бездетные       средний
38      образование         бездетные       высокий
39      образование         бездетные       высокий
40     недвижимость         бездетные       средний
41       автомобиль         бездетные       средний
42      образование         бездетные        низкий
43       автомобиль         бездетные       высокий
44       автомобиль         1 ребенок       средний
45      образование         1 ребенок       средний
46       автомобиль  больше 1 ребенка       высокий
47          свадьба         1 ребенок       высокий
48     недвижимость         бездетные       средний
49       автомобиль         бездетные        низкий

In [27]:
income_debt = data.loc[:, ['income_status', 'debt','total_income']]
display(income_debt.head(15))

   income_status  debt  total_income
0        высокий     0        253875
1        средний     0        112080
2        средний     0        145885
3        высокий     0        267628
4        средний     0        158616
5        высокий     0        255763
6        высокий     0        240525
7        средний     0        135823
8         низкий     0         95856
9        средний     0        144425
10       средний     0        113943
11        низкий     0         77069
12       средний     0        118514
13       средний     0        130458
14       средний     1        165127

In [28]:
pivot_income_debt = income_debt.pivot_table(index='income_status', columns='debt', values='total_income', aggfunc='count')
display(pivot_income_debt)

debt              0    1
income_status
высокий        5945  478
низкий         4109  354
средний        9659  909

In [29]:
pivot_income_debt['percent'] = (pivot_income_debt[1]/(pivot_income_debt[1] + pivot_income_debt[0])) * 100
display(pivot_income_debt)

debt              0    1   percent
income_status
высокий        5945  478  7.442005
низкий         4109  354  7.931884
средний        9659  909  8.601438

**Вывод**

Самая высокий процент просрочек среди тех, чей ежемесячный доход определен как средний. Процент просрочек среди тех, чей доход выше или ниже приблизительно равен. Вывод: уровень дохода не сильно влияет на возможность невыплаты кредита в срок. Это зависит от других факторов (личной ответственности или способности идти на риск: меньше рискуют те, кто стеснен в средствах или, наоборот, те, кому есть что терять).

- Как разные цели кредита влияют на его возврат в срок?

По целям заемщики уже были категоризированы в п.2.4

In [30]:
pivot_purpose = data.pivot_table(index=['purpose_category'], columns = 'debt', values = 'gender', aggfunc= 'count')
display(pivot_purpose)

debt                  0    1
purpose_category
автомобиль         3903  403
недвижимость      10029  782
образование        3643  370
свадьба            2138  186

In [31]:
pivot_purpose['percent'] = (pivot_purpose[1]/(pivot_purpose[1] + pivot_purpose[0])) * 100
display(pivot_purpose)

debt                  0    1   percent
purpose_category
автомобиль         3903  403  9.359034
недвижимость      10029  782  7.233373
образование        3643  370  9.220035
свадьба            2138  186  8.003442

**Вывод**

Самый большой процент просрочек среди тех, кто берет кредит на автомобиль и образование. Самыми надёжными заемщиками оказываются те, кто за счет кредитных средств совершает операции с недвижимостью.

## Шаг 4. Общий вывод

Исходя из проведенного анализа, можно составить портрет предполагаемого "надёжного" заемщика:
-без детей;
-вдовец/вдова;
-целью кредита является приобретение недвижимости

Уровень дохода неординарно влияет на вероятность невыплаты в срок. Как выяснилось, люди с доходом выше среднего и ниже среднего равным образом могут просрочить платежи, тогда как у заемщикоd с медианным уровнем дохода эта вероятность выше.